{% extends 'base.html' %}

{% block title %}
    Rachel Ombok
{% endblock %}

{% block bodyblock %}
<style>
    #nyu {
    color: blueviolet;
}

#gt{
    color:goldenrod;
}
</style>
    <br>
    <div class="jumbotron d-flex justify-content-center">
        <h1 class="name">RACHEL'S BIO</h1>
    </div>

    <div class="card d-flex align-items-center">
        <div class="card-body">
            <h3>Rachel Ombok</h3>
            <br>
            <h6>EDUCATION</h6>
            <h3 class="card-title" id="nyu">New York University, Tandon School of Engineering</h3>
            <h5>Bachelor of Science, Computer Science - May 2022</h5>
            <p>Minor in Game Engineering
                Relevant Coursework: Object Oriented Programming(C++), Data Structures and Algorithms(Python), Discrete Mathematics, Data Analysis, Computer Architecture and Organization, Design and Analysis of Algorithms</p>
       <br>
            <h6>EXPERIENCE</h6>
            <h3 class="card-title" id="nyu">NYU Game Innovation Lab</h3>
            <h5>Research Intern · Feb 2020 to Aug 2020</h5>
            <p>Create general intelligence for The Sims 4 using a quality diversity evolutionary algorithm, and code a C++ program that tests how in-game objects affect a sims’ mood and environment. Analyze and interpret experiment results alongside graduate students and postdocs, and organize notes & data within a thesis paper.</p>
            <br>
            <h3 class="card-title" id="gt">COV-IDEAS REU</h3>
            <h5>Research Intern · June 2020 to Dec 2020</h5>
            <p>Conducted research for building a prediction marker relevant to the coronavirus pandemic, built an interactive forecasting website with React and Flask that allows users to predict future metrics related to COVID-19, and stores these predictions in MongoDB. Also designed a dynamic website for REU organization and oversaw program website updates and modifications.

            </p>
<br>
            <h6>SKILLS</h6>
            <h3 class="card-title">Technical</h3>
            <h5>Bachelor of Science, Computer Science - May 2022</h5>
            <p>Python, C++, HTML, CSS, C#</p>
            
        </div>

            
    </div>



{% endblock %}