
{% extends "base.html" %}

{% block bodyblock %}
<style>
    #txt{
        font-size: 20px;
    }
</style>
<div class="jumbotron justify-content-center">
    <h1 class="name">Rachel's portfolio</h1>
    <!-- TODO: Dynamic heading -->
</div>
<div class="d-flex flex-wrap justify-content-center">
    {% if items %}
        {% for item in items %}
            <div class="card mycard">
                <img
                    class="card-img-top"
                    src="{{ url_for('static', filename=item.imgfile, width=300, height=200) }}"
                    alt="Card image cap"
                >
                <div class="card-body">
                    <h5 class="card-title"><b>{{ item.title|replace("-", " ") }}</b></h5>
                    {% if item.description %}
                        <p class="card-text" id='txt'>{{ item.description }}</p>
                    {% endif %}
                    <a href="projects/{{ item.title }}" class="btn btn-secondary">
                        <i class="fas fa-arrow-right"></i> Go</a>
                    
                </div>
            </div>
        {% endfor %}
    {% endif %}
</div>
{% endblock %}